* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Amiri", sans-serif;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: url(../img/HouseOfGod.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

header {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.55);
}

@media(max-width:767px) {
    header {
        height: auto;
        padding: 10px 20px;
    }

    header .logo {
        width: 120px;
        margin-bottom: 10px;
    }

    header .links {
        flex-direction: column;
    }

    .header .links li {
        margin: 10px 0;
    }

    header .links li a {
        padding: 10px 20px;
        font-size: 16px;
    }
}

.header .logo {
    width: 150px;
}

.header .links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header .links li {
    margin-right: 25px;
    font-size: 20px;
    list-style: none;
}

.header .links li a {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 6px;
    background-color: #C9A75C;
    color: #0E0E0E;
    font-weight: 1.7;
    transition: 0.3s;
}

.header .links li a:hover {
    background-color: #B28D3B;
    color: #FFFFFF;
}

.header .text {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateY(-50%);
    z-index: 2;
    max-width: 600px;
}

.header .text h2 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.3;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

@media(max-width:767px) {
    .header .text h2 {
        font-size: 25px;
    }
}

.header .text a {
    display: inline-block;
    align-items: center;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #C9A75C;
    color: #0E0E0E;
    font-weight: 600;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s;
}

.header .text a:hover {
    background-color: #B28D3B;
    color: #FFFFFF;
}